.top-header{padding-top: 40px;}
.title-product{font-size: 14px !important; }
.title {font-size: 50px; padding-left: 40%; font-family: "andalus" !important; /*text-shadow: 4px 4px 6px#ff0000;*/  padding-top: 5px;}
.title-features {font-size: 30px; padding-left: 35% !important;}
.hero-text { font-family: "andalus";}
.form-input {width: 750px;}
.search-bar{left: -100px !important}
.main-view{padding-left: 5% !important;}
.loading {padding-left: 40%;}

@media (max-width: 770px) {
	.title-features {padding-left: 25% !important;}
	.form-input {width: 500px}
	.search-bar{left: 10% !important;}
	.main-view{padding-left: 5% !important;}
	.mobile-hide{display: none !important;}

}

@media (max-width: 480px) {
	.title-features {font-size: 14px;}
	.form-input {width: 100% !important;}
	.search-bar{left: 0 !important;}
	.mobile-hide{display: none !important;}

}


@media ( max-width: 360px) {
	.title {font-size: 45px; padding-left: 30%; padding-top: 10px !important;}
	.title-features {font-size: 14px; padding-left:30% !important; top: 10px !important;}
	.form-input {width: 100% !important;}
	.search-bar{left: 0 !important;}
	.mobile-hide{display: none !important;}
}



/*@media (max-width: 650px) {
	.title-features {padding-left: 25% !important;}
	.form-input {min-width: 500px !important; max-width:600px !important }
	.search-bar{left: 10% !important;}
	.main-view{padding-left: 5% !important;}
	.mobile-hide{display: none !important;}

}*/



